<div class="mt-4" *ngIf="checkoutForm" [formGroup]="checkoutForm">
  <div class="row">
      <div class="form-group col-12" formGroupName="paymentForm">
      </div>
  </div>
  <div class="row mb-3">
      <div class="col-6">
          <div class="form-floating">
              <div class="form-control" #cardNumber></div>
              <label>Card Number</label>
              <span class="text-danger">{{cardErrors}}</span>
          </div>
      </div>
      <div class="col-3">
          <div class="form-floating">
              <div class="form-control" #cardExpiry></div>
              <label>Card Expiry</label>
          </div>
      </div>
      <div class="col-3">
          <div class="form-floating">
              <div class="form-control" #cardCvc></div>
              <label>Card Cvc</label>
          </div>
      </div>
  </div>
</div>

<div class="d-flex justify-content-between flex-row mb-5">
  <button class="btn btn-outline-primary" cdkStepperPrevious>
      <i class="fa fa-angle-left"></i> Back to review
  </button>
  <button [disabled]="loading || !paymentFormComplete" class="btn btn-primary" (click)="submitOrder()">
      Submit order <i class="fa fa-angle-right"></i>
      <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
  </button>
</div>
