<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <h1 class="mb-3">Login</h1>
      </div>

      <div class="form-floating mb-3">
        <input
         type="email"
         [class.is-invalid]="loginForm.get('email')?.invalid&&loginForm.get('email')?.touched"
         formControlName="email"
          class="form-control"
          id="floatingEmail"
          placeholder="name@example.com">
        <label for="floatingEmail">Email Address</label>
        <div *ngIf="loginForm.get('email')?.errors?.['required']" class="invalid-feedback">Email Is Required</div>
      </div>
      <div class="form-floating">
        <input type="password"
        formControlName="password"
        [class.is-invalid]="loginForm.get('password')?.invalid&&loginForm.get('password')?.touched"
        class="form-control"
        id="floatingPassword"
         placeholder="password">
        <label for="floatingPassword">Password </label>
        <div *ngIf="loginForm.get('password')?.errors?.['required']" class="invalid-feedback">Password Is Required</div>

      </div>


      <div class="d-grid">
        <button [disabled]="loginForm.invalid" class="btn btn-lg btn-primary mt-3" type="submit">Sign in</button>
      </div>
    </form>
  </div>

</div>
