<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
    <form >
      <div class="text-center mb-4">
        <h1 class="mb-3">Login</h1>
      </div>

      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
        <label for="floatingEmail">Email Address</label>
      </div>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingPassword" placeholder="password">
        <label for="floatingPassword">Password </label>
      </div>


      <div class="d-grid">
        <button class="btn btn-lg btn-primary mt-3" type="submit">Sign in</button>
      </div>
    </form>
  </div>

</div>
