<div class="mt-4" *ngIf="checkoutForm" [formGroup]="checkoutForm">
  <div class="row" formGroupName="deliveryForm">
      <div class="col-6 form-group" *ngFor="let method of deliveryMethods">
          <input type="radio"
              id={{method.id}}
              value={{method.id}}
              formControlName="deliveryMethod"
              class="form-check-input"
              (click)="setShippingPrice(method)"
          >
          <label for="{{method.id}}" class="form-check-label ms-2 mb-3">
              <strong>{{method.shortName}} - {{method.price | currency}}</strong>
              <br />
              <span class="label-description">{{method.description}}</span>
          </label>
      </div>
  </div>
</div>

<div class="d-flex justify-content-between flex-row mb-5">
  <button class="btn btn-outline-primary" cdkStepperPrevious>
      <i class="fa fa-angle-left"></i> Back to address
  </button>
  <button [disabled]="checkoutForm?.get('deliveryForm')?.invalid" class="btn btn-primary" cdkStepperNext>
      Go to Review <i class="fa fa-angle-right"></i>
  </button>
</div>
