<div class="card shadow-sm"  *ngIf="product">
 <img src="{{product.pictureUrl}}" alt="{{product.name}">
  <div class="card-body d-flex flex-column">
    <a href="text-decoration-none">
      <h6 class="text-uppercase ">{{product.name}}</h6>
          </a>
    <span class="mb-2">{{product.price | currency}}</span>
    <div class="btn-group mt-auto">
      <button class="btn btn-outline-success">Add To Cart</button>
      <button class="btn btn-outline-success" routerLink="/shop/{{product.id}}">View</button>
    </div>
  </div>
</div>
