<header class="d-flex flex-row align-items-center justify-content-between p-3 px-4 mb-3
    bg-white border-bottom fixed-top shadow-sm">
    <img src="/assets/images/logo.png" alt="logo" class="logo" style="max-height: 70px;" routerLink="/">

    <nav class="my-2 text-uppercase fs-4">
        <a class="p-2"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
        >Home</a>
        <a class="p-2" routerLink="/shop" routerLinkActive="active">Shop</a>
        <a class="p-2" routerLink="/test-error" routerLinkActive="active">Errors</a>
    </nav>
    <div class="d-flex align-items-center">
      <a routerLink="/basket" class="position-relative">
        <i class="fa-solid fa-cart-shopping me-5 text-dark"></i>
        <div *ngIf="(basketService.basketSource$ |async) as basket" class="cart-no">
        {{getCount(basket.items)}}
        </div>
      </a>
      <a routerLink="/account/login" href="" class="btn btn-outline-secondary me-2">Login</a>
      <a routerLink="/account/register" href="" class="btn btn-outline-secondary me-3">Sign up</a>
    </div>


</header>
